body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url('../IMAGES/background.jpg');
    background-size: cover;
    background-position: center;

}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(156, 156, 156, 0.1);
}

h1 {
    text-align: center;
    color: #000000;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #000000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #000000;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #4400ff;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
}
body {
    background-size: cover;
    background-position: center;
}
